<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
</div>
<div *ngFor="let hlo_contraint of hlo_contraints">
	<table>
		<tr>
			<td>Source Class</td>
			<td>{{hlo_contraint.restricted_class.value}}</td>
		</tr>
		<tr>
			<td>Target Class</td>
			<td>{{hlo_contraint.on_class.value}}</td>
		</tr>
		<tr>
			<td>Property</td>
			<td>{{hlo_contraint.on_property.value}}</td>
		</tr>
		<tr>
			<td>Cardinality</td>
			<td>
				<select [(ngModel)]="hlo_contraint.cardinality_type.value">
				  <option *ngFor="let cardinality of cardinalities" value= {{cardinality.rdf_name}}>
				    {{cardinality.friendly_name}}
				  </option>
				</select>
				{{hlo_contraint.cardinality.value}}		
			</td>
			<!-- <td>{{hlo_contraint.cardinality_type.value}} {{hlo_contraint.cardinality.value}}</td> -->
		</tr>
	</table>
	<hr>
</div>
